/*Portfolio Template 3 Styles*/

/*Global Styles*/
body, html{
  margin: 0;
  font-family: 'catamaran', sans-serif;
  /*font-family: 'karla', sans-serif;*/
}

h1,h2,h3{
  margin: 0;
}

a{
  color: inherit;
  text-decoration: none;

}

/*Banner Styles*/

#banner{
  height: 550px;
  width: 100%;
  background: url("../img/photo.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.rhcp {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.title{
  padding: 150px 150px 0 150px;
}
.title h1{
  text-align: center;
  font-size: 5em;
  color: white;
  margin-top: 20px;
}

#banner button{
  height: 40px;
  width: 150px;
  border: 2px solid white;
  color: white;
  font-size: 1em;
  text-align: center;
  margin: 3% 0  0 45%;
  position: absolute;
  background-color: transparent;
  cursor: pointer;
}

#banner button:hover{
  border-color: lightblue;
  color: lightblue;
}

#banner button:active{
  transform: translatey(4px);
}

/*Header Styles*/

header{
  height: 57px;
  width: 100%;
  background-color: #575757;
  /*#D3794F*/
}
.logo{
  width:300px;
  height: 100%;
  float: left;
}

.logo h1{
  text-align: center;
  padding: 5px 0px;
  color: black;
}

.logo i{
  padding-right: 6px;
  font-size: 0.9em;
}

.menu{
  height: 100%;
  width: 500px;
  float: right;
}

.menu ul{
  position: relative;
  padding: 1px 0;
}

.menu li{
  display: inline-block;
  padding: 0px 10px;
}

.menu a:hover{
  color: #D3794F;
}

/*Home Styles*/

#home{
  height: 200px;
  width: 100%;
  background-color: white;
  padding-top: 45px;
}

.home-container{
  height: 50%;
  width: 85%;
  margin: 0 auto;

}

#home article{
  height: 150;
  width: 25%;
  float: left;
  margin: 0 20px;
  padding: 10px 25px;
  text-align: justify;
}

#home h1{
  color: #D3794F;
}

/*About Styles*/

#about{
  width: 100%;
  background-color: #D3794F;
}

.img-box{
  height: 600px;
  width: 50%;
  float: left;
}

.img-container{
  height: 600px
  width: 100%;
}

#about img{
  width: 100%;
  height: 600px;
}

.about-info{
  height: 600px;
  width: 50%;
  float: left;
}

.about-content{
  height: 200px;
  width: 100%;
  background-color: #f4eee1;
}

.about-content h1{
  text-align: center;
  padding: 20px 0 0 0;
  font-size: 2em;
  color: #D3794F;
}

.about-content p{
  padding: 0 20px;
  text-align: justify;
}

.about-box{
  width: 100%;
  height: 400px;
  background-color: #f4eee1;
  display:inline-flex;
  float: left;
}

.toprow{
  height: 50%;
  width: 100%;
  display: block;
  margin: 75px 20px 20px 20px;
}

.toprow h1{
  text-align: center;
}
.toprow p{
  text-align: justify;
}

.toprow i{
  padding-right: 5px;
  color: #D3794F;
  font-size: 1.5em;
}
.bottomrow{
  height: 50%;
  width: 100%;
  display: block;
  margin: 75px 20px 20px 20px;
}
.bottomrow h1{
  text-align: center;
}

.bottomrow p{
  text-align: justify;
}

.bottomrow i{
  padding-right: 5px;
  color: #D3794F;
  font-size: 1.5em;
}

.history{
  margin-bottom: 40px;
}

.countries{
  margin-bottom: 40px;
}

/*Tours Styles*/

#tours{
  height: 340px;
  width: 100%;
  padding: 40px 0;
  background-color: white;
  display:inline-block;
}

.tours-content h1{
  text-align: center;
  font-size: 2em;
  color: #D3794F;
}

.tours-content p{
  text-align: justify;
  padding: 15px 140px;
}

#tours button{
  height: 40px;
  width: 125px;
  background-color: #D3794F;
  border: 2px solid #D3794F;
  border-radius: 25px;
  color: #fff;
  font-size: 1.2em;
  margin: 15px 140px;
  cursor: pointer;
  outline: none;
}

#tours button:hover{
  color: #75625e;
}

#tours button:active{
  transform: translatey(4px);
}

/*Testimonial Styles*/

#testimonials {
  height: 250px;
  width: 100%;
  background-image: url("../img/map.jpg");
  background-size: cover;
  background-position:top;
  background-attachment: scroll;
  display: inline-block;
  color: white;
  font-size: 1.1em;
}

.overlay{
  height: 250px;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
  position: absolute;
}

.reviews{
  margin: 50px 140px;
  text-align: center;
}

.reviews h4{
  padding: 10px;
}

/*Places Styles*/
#places{
  height: 700px;
  width: 100%;
  background-color: #f4eee1;
  display: inline-flex;
}

.places-box{
  height: 700px;
  width: 100%;
  display: block;
  float: left;
}

.places-content{
height: 21%;
width: 100%;
display: block;
}

.places-content h1{
  font-size: 2em;
  color: #D3794F;
  text-align: center;
  margin: 40px 0 10px 0;
}

.places-content p{
  text-align: center;
  margin: 0 90px;
}

.pic-box{
  height: 70%;
  width: 100%;
  float left;
  margin-top: 0px;
  padding: 0 20px 0 20px;
}

.right-row{
  height: 100%;
  width: 33%;
  display: inline-block;
  margin-left: 3px;
}

.right-row article{
  height: 235px;
  width: 400px;
  display: block;
}

.right-row img{
  height: 100%;
  width: 100%;
}

.left-row{
  height: 100%;
  width: 33%;
  display: inline-block;
  float: left;
  margin-left: 3px;
}

.left-row article{
  height: 235px;
  width: 400px;
  display: block;
}

.left-row img{
  height: 100%;
  width: 100%;
}

.middle-row{
  height: 100%;
  width: 33%;
  display: inline-block;
  float: left;
  margin-left: 3px;
}

.middle-row article{
  height: 235px;
  width: 400px;
  display: block;
}

.middle-row img{
  height: 100%;
  width: 100%;
}


.horses{
  margin-bottom: 10px;
}


.town{
  margin-bottom: 10px;
}

.beach{
  margin-bottom: 10px;
}

#places img{
  border: 2px solid #575757;
}

#places a{
  cursor: pointer;
}

/*Contact Styles*/
#contact{
  height: 470px;
  width: 100%;
  background-color: #3c455c;
  margin-top: 0px;
}

#contact h1{
  font-size: 2em;
  color: #D3794F;
  margin-top: 10px;
}

#contact p{
  margin-top: 30px;
  color: white;
  font-size: 1.1em;
}
.info-box{
  width: 50%;
  height: 100%;
  display: inline-block;
  float: left;
}

.info-content{
  margin: 40px 120px 40px 40px;
}

.form{
  width: 50%;
  height: 100%;
  float: left;
  display: inline-block;
  color: #D3794F;
}

.form-box{
  margin: 40px 120px 40px 40px;
}

#contact input{
  height: 35px;
  width: 100%;
  margin: 10px 0;
  background-color: #f4eee1;
}

#contact textarea{
  height: 125px;
  width: 100%;
  margin: 10px 0;
  background-color: #f4eee1;
}

#contact button{
  height: 40px;
  width: 125px;
  background-color: #D3794F;
  border: 2px solid #D3794F;
  color: #dde2e3;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
}

#contact button:hover{
  color: #75625e;
}

#contact button:active{
  transform: translatey(4px);
}

/*Footer Styles*/
footer{
  height: 150px;
  width: 100%;
  background-color: #575757;
  clear: both;
}

.copyright p{
  margin: 0;
  text-align: center;
  padding: 30px 0;
  color: white;
}

.sm-icons{
  width: 240px;
  height: 50px;
  margin: 0 auto;
}

.icon{
  height: 50px;
  width: 50px;
  background-color: #fff;
  float: left;
  margin: 0 5px;
  border-radius: 100%;
}

.icon i{
  font-size: 2em;
  color: #333;
  padding: 10px;
}
